.paginadoNavContainer {
    display: flex;
    justify-content: center;
    padding: 1rem; 
}

.paginadoNavContainer:hover{
    cursor: pointer;
}

.paginadoList {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.number {
    text-align: center;
    font-size: 20px;
    color: white;
    font-stretch: condensed;
    margin: .4rem;
    margin-right: 5px;
    height: 1.9rem;
    width: 1.3rem;
    padding: .4rem;
    border: .1rem solid white;
    border-radius: .4rem;

    backdrop-filter: blur(100px);
    background: linear-gradient(
        to top,
        right rgb(198, 196, 196) 0%,
        rgba(255, 251, 251, 0.12) 20%
      );
}

.number:hover {
    background-color: #771e62;
    color: white;
}

.active {
    background-color: #0FB1BD;
    color: white;
    border-radius: .4rem;
    padding: .4rem;
    height: 1.9rem;
    width: 1.3rem;
}

.btn {
    color: #fff;
    display: inline-flex;
    align-items: center;
    align-content: center;
    background-color:#0FB1BD;
    font-weight: 300;
    font-size: 1em;
    padding: 1rem;
    box-sizing: border-box;
    height: 2rem;
    margin: 12px;
  
    border: .1rem solid white;
    border-radius: .4rem;
   
}
.btn:hover {
    cursor: pointer;
    background-color: #771e62;
    border: .1rem solid rgb(247, 244, 237);
    
}