.paymentLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 12px;
    border-top: 3px solid #0fb1bd;
    -webkit-box-shadow: 0px 7px 19px 2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 7px 19px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 7px 19px 2px rgba(0, 0, 0, 0.27);
}

.paymentLogoStyle {
    margin: 0;
    height: 180px;
    width: 180px;
}

.paymentH1 {
    background-color: white;
    border-radius: 12px;
    border-top: 3px solid #0fb1bd;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    -webkit-box-shadow: 0px 7px 19px 2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 7px 19px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 7px 19px 2px rgba(0, 0, 0, 0.27);
}