.logoutBtn{
    position: absolute;
    right: 60px;
  
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #771E62;
    padding: 12px;
    cursor: pointer;
}

.logoutBtn i{
    font-size: 25px;
}


.logoutBtn:hover {
    color: #a22986;
    cursor: pointer;
}