<<<<<<< HEAD
.logoutBtn{
    position: absolute;
    right: 60px;
    top: 5px;
  
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: #771E62;
    padding: 12px;
    cursor: pointer;
}

.logoutBtn i{
    font-size: 18px;
    padding: 5px;
=======
.logoutBtn {
  position: absolute;
  right: 60px;
  top: 5px;

  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  color: #771e62;
  padding: 12px;
  cursor: pointer;
}

.logoutBtn i {
  font-size: 18px;
  padding: 5px;
>>>>>>> b4fa3780b37ec42b5f5cf1555d2de0e5a325e189
}

.logoutBtn:hover {
  color: #a22986;
  cursor: pointer;
}
