.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: white;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.detail {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}