.formContainer {
    border-radius: 12px;
    border: 3px solid #0FB1BD;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 7px 19px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 7px 19px 2px rgba(0,0,0,0.27);
    box-shadow: 0px 7px 19px 2px rgba(0,0,0,0.27);
  }
  
  .formTitulo {
    color: #0FB1BD;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .formLabel {
    font-weight: 700;
    color: #0FB1BD ;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  
  .formInput {  
    color: #0FB1BD;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 90%;
    border-bottom: 1px solid #0FB1BD;
    border-left: none;
    border-right: none;
    border-top: none;

    outline: none;
  }
  
  .formButton {
    background-color: #0FB1BD;
    color: #fff;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: #12dbe9;
  }
  


.logoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: white;
    border-radius: 12px;
    border-top: 3px solid #0FB1BD;
}

.logoStyle{
    margin: 0;
    height: 180px;
    width: 180px;
}


.backBtn{
    position: absolute;
    left: 20px;
    color: #0FB1BD;
    font-size: 24px;
    font-weight: 700;
}

.backBtn:hover{
    color: #13deec;
}