
.searchbarContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
}

.footerContainer {
    display: flex;
    position: relative;
    bottom: 2px;
    width: 100%;
  }
