

.searchbarContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
}

.footerContainer {
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 10px;
}

.filtersContainer{
    display: flex;
    position: absolute;
    left: 26%;
    top: 120px;
}


.resetFiltersBtnStyle {
    background-color: transparent;
    border: 2px solid #0FB1BD;
    border-radius: 5px;
    color: #0FB1BD;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 4px 8px;
    font-weight: 600;
    outline: none;
   
  }
  
  .resetFiltersBtnStyle:hover {
    background-color: #0FB1BD;
    font-weight: 600;
    color: white;
    outline: none;
  }
  
  .selectOrderStyle {
    background-color: transparent;
    border: 2px solid #0FB1BD;
    border-radius: 5px;
    color: #0FB1BD;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 32px;
    outline: none;
    margin-right: 5px;
  }

  
  .selectOrderStyle option {
    background-color: transparent;
    color: #0FB1BD;
    outline: none;
  }
  
  .selectOrderStyle option:hover {
    background-color: transparent;
    color: #0FB1BD;
    outline: none;
  }
  

.filterOrderContainer{
    position: absolute;
    display: flex;
    color: #0FB1BD;
    top: 100px;
    left: 25.5%;
}

.resetFiltersBtn {
background-color: #0FB1BD;
border: 2px solid #fff;
border-radius: 4px;
color: #fff;
cursor: pointer;
font-size: 1rem;
padding: 8px 12px;
margin-left: 110px;
font-weight: 600;
}

.resetFiltersBtn:hover {
background-color: #771e62;
color: #fff;
}

.priceOrderSelectorStyle {
outline: none;
background-color: #fff;
border:none;
border-radius: 4px;
font-weight: 600;
color: #0FB1BD;
cursor: pointer;
font-size: 1rem;
padding: 4px 6px;
margin: 3px;
}

.priceOrderSelectorStyle option {
    color: #0FB1BD;
}

.orderOptionStyle {
    color: #0FB1BD;
}

.CategorySelectorStyle {
outline: none;
background-color: #fff;
border:none;
border-radius: 4px;
font-weight: 600;
color: #0FB1BD;
cursor: pointer;
font-size: 1rem;
padding: 4px 6px;
margin: 3px;
}

.categoryOptionStyle {
color: #333;
}

.finalFrase{
  color: #333;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid #0FB1BD;
  border-radius: 12px;
  text-align: center;
  margin-right:30%;
  margin-left: 30%;
}

.linkourteam{
  font-weight: 900;
  color: #0FB1BD;
}