.logoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: white;
    border-radius: 12px;
    border-top: 3px solid #0FB1BD;
}

.logoStyle{
    margin: 0;
    height: 180px;
    width: 180px;
}

.searchbarContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
}